@import "tailwindcss";

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@theme {
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-card: #f8fafc;
  --color-card-foreground: #1e293b;
  --color-border: #e2e8f0;
  --color-sidebar: #dbeafe;

  --color-dark-background: #0a0a0a;
  --color-dark-foreground: #ededed;
  --color-dark-primary: #60a5fa;
  --color-dark-secondary: #a78bfa;
  --color-dark-card: #1e293b;
  --color-dark-card-foreground: #f8fafc;
  --color-dark-border: #475569;
  --color-dark-sidebar: #1e3a8a;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --card: var(--color-card);
  --card-foreground: var(--color-card-foreground);
  --border: var(--color-border);
  --sidebar: var(--color-sidebar);
}

.dark {
  --background: var(--color-dark-background);
  --foreground: var(--color-dark-foreground);
  --primary: var(--color-dark-primary);
  --secondary: var(--color-dark-secondary);
  --card: var(--color-dark-card);
  --card-foreground: var(--color-dark-card-foreground);
  --border: var(--color-dark-border);
  --sidebar: var(--color-dark-sidebar);

  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-y: hidden;
}

@utility bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-from), var(--tw-gradient-to));
}

.bg-background {
  background-color: var(--background);
}

.text-foreground {
  color: var(--foreground);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-card {
  background-color: var(--card);
}

.text-card {
  color: var(--card-foreground);
}

.bg-sidebar {
  background-color: var(--sidebar);
}

.border-border {
  border-color: var(--border);
}